@charset "utf-8";

/*Reset Rules */
@import url("reset.css");

/*
=========================================
Custom Styles
=========================================
*/

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font: 300 16px/150% "Poppins", "lato", sans-serif, serif;
}

:root {
    --main-bg-color: #061a47;
    --main-txt-color: #404040;
	--normal-color: #fff;
	--base-gradient: linear-gradient(#074df0, #061a47);
	--box-shadow: 1px .2em .5em #b3b3b3;
}

a {
	text-decoration: none;
	color: #404040;
}

/*
==========================================
                 Header
==========================================
*/
*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
					box-sizing: border-box;
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: 0 15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	clear: both;
	*zoom: 1;
}

/*
===========================================
                   Navigation
===========================================
*/
.main-header {
	width: 100%;
    position: relative;
    height: auto;
} 

.main-header header ul li {
	font-size: 0.8em;
	margin: 0 10px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 400;
}

.main-header ul li:last-child {
	margin-right: 0 !important;
}

.top-header {
	background: rgb(215,216,217);
	display: block;
	text-align: right;
	padding: 5px 0;
}

.main-nav a:hover,
.top-header a:hover {
	color: rgb(29,52,101);
	border-bottom: 4px solid rgb(29,52,101);
	padding-bottom: 6px;
	transition: all 0.5s ease-out;
}

.nav-header {
	display: table;
	width: 100%;
	text-align: center;
	min-height: 50px;
	border-bottom: 1px solid #efefef;
	padding: 20px 0px;
	transition: .5s;
}


.sticky-nav {
	background: var(--normal-color);
	position: fixed;
	z-index: 1000;
	transition: .5s;
	padding: 5px 0;
	top: 0;
	opacity: 1;
}

.main-nav {
	height: auto;
}

.nav-logo {
	display: block;
	float: left;
	max-width: 30vw;
	max-height: auto;
}

.nav-logo img {
	max-width: 100%;
	height: auto !important;
}

.main-nav .collapse-nav {
	padding-top: 11px;
	display: table;
	float: left;
	width: 66%;
    margin-left: 17px;
}

.nav-header .apply-button .btn {
	background: rgb(29,52,101);
	border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    float: right;
    padding: 0px 28.5px;
    color: #fafafa;
}

.nav-header .apply-button > a:hover {
	border-radius: 6px;
	background: rgb(6, 26, 71);
	color: #fafafa;
	transition: .5s ease-in-out;
}

.nav-header .apply-button > a:hover span {
	color: #fafafa !important;
}

.nav-header .apply-button > a > span {
	display: block; 
    font-size: .8em;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
    font-weight: 100;
    font-style: italic;
	padding-bottom: .3rem;
	transition: .3s;
}




/*
========================================
                  Forms
========================================
*/

form {
	width: 275px;
    margin: 0px auto;
}

.search {
	padding: 4px 15px;
	border: 0px solid #dbdbdb;
	font-style: italic;
}

.search:focus {
	outline: none;
	box-shadow: -1px 1px 6px rgb(6, 26, 71, .5);
}

.search-carret,
.button {
	position: relative;
    margin-left: -2px;
}

.search-carret:after {
	right:100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(29,52,101, 0);
	border-right-color: rgb(29,52,101);
	border-width: 10px;
	margin-top: -10px; 
}

.button {
	color: var(--normal-color);
	padding: 4px 15px;
	background: var(--main-bg-color);
    border: .5px solid var(--main-bg-color);
}

.button:hover {
    transition: background .9s ease-in-out;
	background: rgb(6, 26, 71);
	cursor: pointer;
} 

/*
================================================
                  Carrets
================================================
*/

/*.carret {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin-left: 2px;
}

.carret:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #070b50;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.carret:after {
  content: '';
  position: absolute;
  left: 25px;
  top: 0;
  border-top: -20px solid var(--normal-color);
  border-left: -20px solid transparent;
  border-right: -20px solid transparent;
}
*/

.carret {
display: inline-block;
width: 0;
height: 0;
margin-left: 4px;
vertical-align: middle;
border-top: 4px dashed;
border-top: 4px solid\9;/* For IE support on zoom */
border-right: 4px solid transparent;
border-left: 4px solid transparent;
}

/*
=========================================
                   Corousal
=========================================
*/

.banner-area {
	background: url("../Images/Homepage/graduation-edited.jpg"), linear-gradient(-154deg,#dff6ff,var(--normal-color) 93%), #0dcccc;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
	background-clip: padding-box;
	background-origin: padding-box;
	object-fit: cover;

} 

section.banner-area .corousal-wrapper {
	padding: 3vw 0;
	text-align: left;
	line-height: 1.5;
	min-width: 100%;
	min-height: 100%;
	/* Use either the fixed height or the vw height*/
	/*height: 350px;*/
	height: 27vw;
  } 
  
  .banner-area .wrapper-overlay {
	height: auto;
	width: 55%;
	padding: 20px 0;
	text-align: left;
	color: var(--main-bg-color);
	font-size: 1.5vw;
	/* font-size: 2.5vw; */
	font-weight: 600;
	line-height: 1.5;
	position: relative;
  }

 @media only screen and (max-width: 420px) {
	section.banner-area .corousal-wrapper {
		min-height: 85vw;
		padding-top: 1vw;
	}

    section.banner-area .wrapper-overlay {
      font-size: 3.6vw;
	  width: 75%;
	  transform: translate(0, 50%);
	}

	.banner-area .wrapper-overlay span a {
		top: 15px;
		font-size: 1.2rem;
		padding: 6px 25px;
		/* border-radius: 20px; */
	  }
	
	.container {
		width: auto;
		margin: auto auto;
		padding: 0 15px;
	}
	
	.row {
		margin: 0;
	}

	.main-header {
		width: 100%;
		position: relative;
		height: auto;
	} 
	
  }

  .wrapper-overlay span a {
	background: var(--main-bg-color);
	text-transform: capitalize;
	color: #fafafa;
	padding: 6px 30px;
	position: relative;
	top: 20px;
	font-size: 1.4vw;
	/* transition: 1s ease-in-out; */
	border-radius: 20px;
  }

  .wrapper-overlay >  span.overlay-btn a:hover {
	  background: var(--base-gradient);
	  box-shadow: var(--box-shadow);
  }
  
  
/*
==============================================
 Irrelevant parts
==============================================
*/

section.sec {
	background: var(--main-bg-color);
}

.sec {
	padding: 20px 0px;
	color: #fafafa;
	
}
.sec span .line {
	display: inline-block;
}


.sec span .sideline {
	background: #ffffff;
	width: 60px;
	height: 5px;
	margin-right: 10px;
	vertical-align: middle;
}

.sec span h5 {
	font-size: 1em;
	text-transform: uppercase;

}

.sec p {
	font-size: 1em;
	font-weight: 200;
	margin: 20px 0 10px 0;
	
}

.sec span.learn-more {
	background: #fafafa;
	padding: .31vw .9vw;
	color: rgb(28, 8, 119);
	text-transform: capitalize;
	border-radius: 5px;
}

.sec span.learn-more:hover {
	color: var(--normal-color);
	border-radius: 0;
	transition: all .9s ease-out;
	font-weight: 200;
	border: 2px solid var(--normal-color);
	background: var(--main-bg-color);
}
/*
.sec .col-1-2 {
	width: 50%;
	height: 20vw;
	min-height: 100%;
}

.sec .col-left {
	float: left;
}
.sec .col-right {
	border-left: 2px solid #fafafa;
	float: right;
}*/


/*footer .car {
	width: 0;
	height: 0;
	border-top: 4px solid;
	border-right: 4px solid #fafafa;
	border-left: 4px solid #fafafa;s
}
*/
footer .car {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 4px;
	vertical-align: middle;
	border-top: 10px dashed;
	border-top: 10px solid\9;/* For IE support on zoom */
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	}

/* footer {
	background: #570404;
	width: 100%;
	height: 300px;
} */


